{erl_opts, [
   debug_info,
   warn_deprecated_function,
   warn_deprecated_type,
   warn_export_vars,
   warn_obsolete_guard,
   warn_untyped_record,
   warn_unused_import,
   {i, "include"}
   % do NOT include warnings_as_errors, as rebar includes these options
   % when compiling for eunit, and at least one test module has code that
   % is deliberatly broken and will generate an un-maskable warning
]}.

{deps, [
   {eGbh, ".*", {git, "http://47.108.26.175:53000/SisMaker/eGbh.git", {branch, "master"}}},
   {eFmt, ".*", {git, "http://47.108.26.175:53000/SisMaker/eFmt.git", {branch, "master"}}},
   {goldrush, ".*", {git, "http://47.108.26.175:53000/SisMaker/goldrush.git", {tag, "0.2.0"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eLog]}
]}.

{cover_enabled, true}.
