{erl_opts, [
   no_debug_info,
   deterministic,
   warn_deprecated_function,
   warn_deprecated_type,
   warn_export_vars,
   warn_obsolete_guard,
   warn_untyped_record,
   warn_unused_import,
   {i, "include"}
]}.

{deps, [
   {eGbh, ".*", {git, "https://github.com/ErlGameWorld/eGbh.git", {branch, "master"}}},
   {eFmt, ".*", {git, "https://github.com/ErlGameWorld/eFmt.git", {branch, "master"}}},
   {goldrush, ".*", {git, "https://github.com/ErlGameWorld/goldrush.git", {tag, "0.2.0"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eLog]}
]}.

{cover_enabled, true}.
